<strong>Product ID:<%=@p.id%> <br/><br/>
<%=@p.title%></strong><br/><br/>
<%=@p.description%>
<p>
<%=link_to("Edit Product",edit_product_url)%>
</p>
<p>
<%=link_to("Back to products",products_url)%>
</p>
