<!DOCTYPE html>
<html>
<head>
  <title>AuctionSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<color="RED"><%if flash[:notice].present?%>
	<%=flash[:notice]%>
<br/><br>
<%end%> </color>
<%= yield %>

</body>
</html>
